# class files
.build
.scala_dependencies

# vim swapfiles
*.swp

# in and output maps
*.osm
!synthetic.osm
*.map
*.svg

# tex stuff
*.aux
*.log
*.bbl
*.blg
*.eps

# experiment data
stats_log
resim_log
log_*

# unrefined notes
papers/thesis/*
papers/itsc_2012/*.tex
papers/itsc_2012/root.bib
