# compiled stuff
.build

# vim swapfiles
*.swp

# raw/transformed maps
osm/*
!osm/synthetic.osm
maps/*
scenarios/*

# tex stuff
*.aux
*.log
*.bbl
*.blg
*.eps

# unrefined notes
papers/thesis/*
papers/itsc_2012/*.tex
papers/itsc_2012/root.bib
papers/itsc_2012/log_*
