# compiled stuff
.build

# vim swapfiles
*.swp

# maps/scenarios/logs/plots
osm/*
!osm/synthetic.osm
maps/*
scenarios/*
logs/*
plots/*
final/*

# tex stuff
*.aux
*.log
*.bbl
*.blg
*.eps

# unrefined notes
papers/thesis/*
papers/itsc_2012/*.tex
papers/itsc_2012/root.bib
papers/itsc_2012/log_*
